.app {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.chat {
  border: #b3d4fc 2px solid;
  border-radius: 5px;
  width: 200px;
}

.app .messageListContainer {
  margin-left: 50px;
  color: black;
  overflow: auto;
  display: inline-block;
}

.form {
  border: #b3d4fc 2px solid;
  border-radius: 10px;
  width: 500px;
  padding: 25px;
}

.field  {
  display: flex;
  margin-bottom: 25px;
}

.field label  {
  width: 30%;
}

.field input  {
  width: 60%;
  border: #b3d4fc 1px solid;
}

.field textarea  {
  width: 60%;
  border: #b3d4fc 1px solid;
}

.form .saveBtn {
  padding: 5px 28px;
  border-radius: 10px;
  color: slateblue;
  border: lightgrey 1px solid;
  background-color: mistyrose;
}
